<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        metadata-complete="false"
        version="3.0">
  <display-name>Servlet Displaying Current Date</display-name>

  <servlet>
    <servlet-name>NiceWordCollectorServlet</servlet-name>
    <servlet-class>foo.bar.NiceWordCollectorServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>NiceWordCollectorServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>NiceWordCollectorServlet</servlet-name>
      <url-pattern>/random</url-pattern>
  </servlet-mapping>

</web-app>
